{"http_interactions":[{"request":{"method":"get","uri":"http://findingaids.princeton.edu/collections/AC044/c0003.xml?scope=record","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/xml;charset=UTF-8"], "Link":["<http://findingaids.princeton.edu/_services/tree?record-id=AC044>;rel=contents,<http://findingaids.princeton.edu/collections/AC044>;rel=canonical"], "X-Exist-Id":["2139"], "Last-Modified":["Wed, 22 Jul 2015 06:50:46 GMT"]},"body":{"encoding":"UTF-8","string":"<c xmlns=\"urn:isbn:1-931666-22-9\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:pulfa=\"http://library.princeton.edu/pulfa\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" level=\"file\" id=\"AC044_c0003\">\n    <pulfa:context>\n        <pulfa:uri>http://findingaids.princeton.edu/collections/AC044/c0003</pulfa:uri>\n        <pulfa:breadcrumbs>\n            <pulfa:crumb uri=\"http://findingaids.princeton.edu/collections/AC044/c0001\" level=\"series\">Series 1: Committee Administration</pulfa:crumb>\n        </pulfa:breadcrumbs>\n        <pulfa:collectionInfo>\n            <pulfa:ARK>http://arks.princeton.edu/ark:/88435/w37636770</pulfa:ARK>\n            <pulfa:uri>http://findingaids.princeton.edu/collections/AC044</pulfa:uri>\n            <pulfa:collection-creators>\n                <corpname rules=\"legacy\" altrender=\"Special Committee on the Structure of the University\" source=\"viaf\" role=\"cre\" authfilenumber=\"http://viaf.org/viaf/129460239\">Princeton University. Special Committee on the Structure of the University.</corpname>\n            </pulfa:collection-creators>\n            <eadid countrycode=\"US\" mainagencycode=\"US-NjP\" url=\"http://arks.princeton.edu/ark:/88435/w37636770\" urn=\"ark:/88435/w37636770\">AC044</eadid>\n            <unittitle>Special Committee on the Structure of the University Records</unittitle>\n            <unitid type=\"collection\" repositorycode=\"US-NjP\" countrycode=\"US\">AC044</unitid>\n            <unitdate normal=\"1967/1970\" type=\"inclusive\">1967-1970</unitdate>\n            <unitdate normal=\"1968/1969\" type=\"bulk\">1968-1969</unitdate>\n            <extent>5.25 linear feet</extent>\n            <extent>11 archival boxes, 3 half-size archival boxes</extent>\n        </pulfa:collectionInfo>\n        <pulfa:request type=\"single\">AC044 box 1</pulfa:request>\n    </pulfa:context>\n    <did>\n        <unittitle>Alumni Council: Proposals for Electing Young Alumni Trustees</unittitle>\n        <unitdate normal=\"1969-03-01T00:00:00Z/1969-03-31T23:59:59Z\">1969 March</unitdate>\n        <langmaterial>\n            <language langcode=\"eng\"/>\n        </langmaterial>\n        <physloc type=\"code\">mudd</physloc>\n        <repository id=\"univarchives\">\n            <corpname source=\"lcsh\" rules=\"aacr2\">Princeton University. Library. Dept. of Rare Books and Special Collections</corpname>\n            <subarea>Seeley G. Mudd Manuscript Library.</subarea>\n            <subarea>Princeton University Archives.</subarea>\n            <address>\n                <addressline>65 Olden Street</addressline>\n                <addressline>Princeton, New Jersey 08540 USA</addressline>\n            </address>\n        </repository>\n        <container type=\"box\">1</container>\n        <container type=\"folder\">2</container>\n        <dao xmlns:xlin=\"http://www.w3.org/1999/xlink\" xlin:type=\"simple\" xlin:role=\"http://www.loc.gov/METS/\" xlin:href=\"http://findingaids.princeton.edu/folders/AC044/c0003.mets\"/>\n        <physdesc>\n            <extent type=\"computed\">1 folder</extent>\n        </physdesc>\n    </did>\n    <accessrestrict type=\"open\">\n        <p>Collection is open for research use.</p>\n    </accessrestrict>\n    <accessrestrict type=\"digital\">\n        <p>Digitized materials are made accessible for research purposes. We have indicated what we know about copyright and rights of privacy in our\n               finding aids. However, due to the nature of archival collections, it is not always possible to identify this information. We are eager to hear\n               from any rights owners, so that we may provide accurate information. When a rights issue needs to be addressed, upon request we will remove the\n               material from public view while we review the claim.</p>\n    </accessrestrict>\n    <controlaccess/>\n</c>"},"http_version":null},"recorded_at":"Sat, 05 Sep 2015 08:40:08 GMT"}],"recorded_with":"VCR 2.9.3"}